# Exploratory Data Analysis

Of the [Trails_Counters_Pedestrians_Cyclists dataset](https://www.arcgis.com/home/item.html?id=fe6b24fd18d046c8a126b8ddd24120c0).

In [33]:
import numpy as np
import pandas as pd
import pyarrow as pa
import sys

from pathlib import Path

import pathhelper

In [3]:
print("Python: " + sys.version)
print("Pandas: " + pd.__version__)

Python: 3.11.10 | packaged by conda-forge | (main, Sep 30 2024, 18:08:57) [GCC 13.3.0]
Pandas: 2.2.3

In [6]:
data_dir = pathhelper.data_dir(".")
filename = data_dir / "pedestrians_cyclists/Trails_Counters_Pedestrians_Cyclists.csv"

#at_uses_df = pd.read_csv(filename)
#at_uses_df.columns = at_uses_df.columns.str.lower()

In [7]:
at_uses_dfa = pd.read_csv(filename, engine="pyarrow")
at_uses_dfa.columns = at_uses_dfa.columns.str.lower()

12M rows

In [4]:
head = at_uses_df[0:1000]

In [5]:
head.describe()

,unnamed: 0,count,site_id,flow_id,year,month,day,hour,minute
count,1000.000000,1000.000000,1000.0,1000.0,1000.0,1000.0,1000.000000,1000.000000,1000.000000
mean,500.500000,0.970000,100015729.0,101015729.0,2018.0,1.0,5.720000,11.220000,22.500000
std,288.819436,1.305682,0.0,0.0,0.0,0.0,3.015077,6.946932,16.778901
min,1.000000,0.000000,100015729.0,101015729.0,2018.0,1.0,1.000000,0.000000,0.000000
25%,250.750000,0.000000,100015729.0,101015729.0,2018.0,1.0,3.000000,5.000000,11.250000
50%,500.500000,0.000000,100015729.0,101015729.0,2018.0,1.0,6.000000,11.000000,22.500000
75%,750.250000,2.000000,100015729.0,101015729.0,2018.0,1.0,8.000000,17.000000,33.750000
max,1000.000000,7.000000,100015729.0,101015729.0,2018.0,1.0,11.000000,23.000000,45.000000

In [6]:
at_uses_df.dtypes

unnamed: 0      int64
datetime       object
count         float64
site_name      object
site_id         int64
flow_id         int64
flow_name      object
user_type      object
direction      object
year            int64
month           int64
day             int64
hour            int64
minute          int64
dtype: object

In [7]:
mem = at_uses_df.memory_usage(deep=True)
print(mem)
print("-"*25)
print(f"{int(mem.sum() / 1000000)} MB")

Index                132
unnamed: 0      99568128
datetime       945897216
count           99568128
site_name     1030740480
site_id         99568128
flow_id         99568128
flow_name     1057911360
user_type      807062784
direction      744482112
year            99568128
month           99568128
day             99568128
hour            99568128
minute          99568128
dtype: int64
-------------------------
5482 MB

In [8]:
mem = at_uses_dfa.memory_usage(deep=True)
print(mem)
print("-"*25)
print(f"{int(mem.sum() / 1000000)} MB")

Index               132
               99568128
datetime       99568128
count          99568128
site_name    1030740480
site_id        99568128
flow_id        99568128
flow_name    1057911360
user_type     807062784
direction     744482112
year           99568128
month          99568128
day            99568128
hour           99568128
minute         99568128
dtype: int64
-------------------------
4635 MB

In [8]:
at_uses_df.isnull().any()

unnamed: 0    False
datetime      False
count          True
site_name     False
site_id       False
flow_id       False
flow_name     False
user_type     False
direction     False
year          False
month         False
day           False
hour          False
minute        False
dtype: bool

In [9]:
at_uses_df["user_type"].unique()

array(['Pedestrian', 'Cyclist', 'Undefined', 'Debug', 'E-Scooter'],
      dtype=object)

In [10]:
at_uses_df["direction"].unique()

array(['IN', 'OUT', 'Nondirectional'], dtype=object)

In [11]:
at_uses_df["site_name"].unique()

array(['Iron Horse Trail - Cherry Street',
       'Iron Horse Trail - Borden Street',
       'Iron Horse Trail - Queen Street', 'Z - Temporary Radar 1',
       'Z - Temporary Radar 2', 'Z - Portable Tube Counter 4606',
       'Trans-Canada Trail - Courtland Ave @ Hayward',
       'Trans Canada Trail - Courtland @ on ramp', 'Budd Park',
       'Mill to Grenville', 'Wilson Ave',
       'Joseph Street @ Victoria (DCN)',
       'Water Street @ King Street (DCN)', 'Transit Hub Trail',
       'Z - Portable Tube Counter 4605', 'Cedar St @ King St (DCN)',
       'Ontario St @ King St (DCN)', 'Margaret Ave at Maynard Ave'],
      dtype=object)

In [12]:
at_uses_df["site_id"].unique()

array([100015729, 100021131, 100021132, 100041772, 100041773, 100044091,
       100048457, 100048458, 100064212, 300020371, 300021993, 300026503,
       300027683, 300028392, 300028418, 300029847, 300029848, 300036104])

In [13]:
at_uses_df["flow_name"].unique()

array(['Cherry Street_IN', 'Cherry Street_OUT', 'Borden St _IN',
       'Borden St _OUT', 'Queen St _South', 'Queen St _North',
       'Channel 1 IN', 'Channel 2 OUT', 'Channel 3 IN', 'Channel 4 OUT',
       'Trans Canada Trail - Courtland @ on ramp Cyclist IN',
       'Trans Canada Trail - Courtland @ on ramp Cyclist OUT',
       'Mill to Grenville IN', 'Mill to Grenville Cyclist IN',
       'Mill to Grenville Cyclist OUT', 'Mill to Grenville Pedestrian IN',
       'Mill to Grenville Pedestrian OUT', 'Wilson Ave Pedestrian IN',
       'Wilson Ave Pedestrian OUT', 'Wilson Ave Cyclist IN',
       'Wilson Ave Cyclist OUT',
       'Joseph Street @ Victoria (DCN) Cyclist IN',
       'Joseph Street @ Victoria (DCN) Cyclist OUT',
       'Joseph Street @ Victoria (DCN) Debug',
       'Joseph Street @ Victoria (DCN) Pedestrian IN',
       'Joseph Street @ Victoria (DCN) Pedestrian OUT',
       'Water Street @ King Street (DCN) Debug',
       'Water Street @ King Street (DCN) Cyclist IN',
       'Water Street @ King Street (DCN) Cyclist OUT',
       'Transit Hub Trail Cyclist IN', 'Transit Hub Trail Cyclist OUT',
       'Transit Hub Trail Pedestrian IN',
       'Transit Hub Trail Pedestrian OUT', 'Counter1 [Bike IN]',
       'Counter1 [Bike OUT]', 'Cedar St @ King St (DCN) Cyclist IN',
       'Cedar St @ King St (DCN) Cyclist OUT',
       'Ontario St @ King St (DCN) Cyclist IN',
       'Ontario St @ King St (DCN) Cyclist OUT',
       'Margaret Ave at Maynard Ave [Bike Westbound]',
       'Margaret Ave at Maynard Ave [Bike Eastbound]',
       'Margaret Ave at Maynard Ave [E-Scooter IN]',
       'Margaret Ave at Maynard Ave [E-Scooter OUT]'], dtype=object)

In [14]:
def check_mapping(df, col1, col2):
    set_values = df[col1].unique()
    for s in set_values:
        if len(df[df[col1] == s][col2].unique()) != 1:
            return False
    return True

print(check_mapping(at_uses_df, "site_id", "site_name"))
print(check_mapping(at_uses_df, "flow_id", "flow_name"))
print(check_mapping(at_uses_df, "site_id", "flow_name"))  # Expect False

True
True
False

In [17]:
# Narrowing columns
def narrow(df, column, type):
    if df[column].max() > np.iinfo(np.int16).max:
        raise OverflowError()
    return df[column].astype(type)

at_uses_df.drop("unnamed: 0", axis=1, inplace=True)

at_uses_df["count"] = narrow(at_uses_df, "count", "Int16")  # Nullable
at_uses_df["year"] = narrow(at_uses_df, "year", "int16")
at_uses_df["month"] = narrow(at_uses_df, "month", "int8")
at_uses_df["day"] = narrow(at_uses_df, "day", "int8")
at_uses_df["hour"] = narrow(at_uses_df, "hour", "int8")
at_uses_df["minute"] = narrow(at_uses_df, "minute", "int8")

at_uses_df["site_name"] = at_uses_df["site_name"].astype("category")
at_uses_df["site_id"] = at_uses_df["site_id"].astype("category")
at_uses_df["flow_id"] = at_uses_df["flow_id"].astype("category")
at_uses_df["flow_name"] = at_uses_df["flow_name"].astype("category")
at_uses_df["user_type"] = at_uses_df["user_type"].astype("category")
at_uses_df["direction"] = at_uses_df["direction"].astype("category")

In [18]:
#from pandas.api.types import CategoricalDtype
#direction_type = CategoricalDtype(["IN", "OUT", "Nondirectional"], ordered=False)

In [19]:
mem = at_uses_df.memory_usage(deep=True)
print(mem)
print("-"*25)
print(f"{int(mem.sum() / 1000000)} MB")

Index              132
datetime     945897216
count         37338048
site_name     12448071
site_id       12446716
flow_id       12448688
flow_name     12450823
user_type     12446513
direction     12446314
year          24892032
month         12446016
day           12446016
hour          12446016
minute        12446016
dtype: int64
-------------------------
1132 MB

# Try to bin to 1 hour then save with Pandas

In [23]:
at_uses_df_filled = at_uses_df.copy()
at_uses_df_filled["count"] = at_uses_df["count"].fillna(0)
daily_df = at_uses_df_filled.groupby(by=["site_name", "site_id", "flow_id", "flow_name", "user_type", "direction", "year", "month", "day"]).sum()

/tmp/ipykernel_16300/1148577904.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  daily_df = at_uses_df_filled.groupby(by=["site_name", "site_id", "flow_id", "flow_name", "user_type", "direction", "year", "month", "day"]).sum()

MemoryError: Unable to allocate 25.7 GiB for an array with shape (27597898800,) and data type int8

In [82]:
hourly_df = at_uses_df_filled.groupby(by=["site_name", "site_id", "flow-id", "flow_name", "user_type", "direction", "year", "month", "hour"]).sum()

In [21]:
site_df = at_uses_df_filled.groupby(["site_name"]).sum()

KeyError: 'site_name'