In [2]:
import glob
import numpy as np
import pandas as pd
import pyarrow as pa
import sys

from pathlib import Path

import pathhelper

In [3]:
print("Python: " + sys.version)
print("Pandas: " + pd.__version__)

Python: 3.11.10 | packaged by conda-forge | (main, Sep 30 2024, 18:08:57) [GCC 13.3.0]
Pandas: 2.2.3

# Weather data

In [5]:
data_dir = pathhelper.data_dir(".")
csv_files = glob.glob(str(data_dir / "weather/en_climate_hourly_ON_6144239_*-*_P1H.csv"))

df_list = (pd.read_csv(file) for file in csv_files)

#weather_df = pd.read_csv(filename, engine="pyarrow")
#weather_df.columns = at_uses_df.columns.str.lower()
weather_df   = pd.concat(df_list, ignore_index=True)

In [6]:
weather_df.dtypes

Longitude (x)          float64
Latitude (y)           float64
Station Name            object
Climate ID               int64
Date/Time (LST)         object
Year                     int64
Month                    int64
Day                      int64
Time (LST)              object
Temp (째C)              float64
Temp Flag               object
Dew Point Temp (째C)    float64
Dew Point Temp Flag     object
Rel Hum (%)            float64
Rel Hum Flag            object
Precip. Amount (mm)    float64
Precip. Amount Flag     object
Wind Dir (10s deg)     float64
Wind Dir Flag           object
Wind Spd (km/h)        float64
Wind Spd Flag           object
Visibility (km)        float64
Visibility Flag         object
Stn Press (kPa)        float64
Stn Press Flag          object
Hmdx                   float64
Hmdx Flag              float64
Wind Chill             float64
Wind Chill Flag        float64
Weather                 object
dtype: object

In [8]:
weather_df.describe()

,Longitude (x),Latitude (y),Climate ID,Year,Month,Day,Temp (째C),Dew Point Temp (째C),Rel Hum (%),Precip. Amount (mm),Wind Dir (10s deg),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Hmdx,Hmdx Flag,Wind Chill,Wind Chill Flag
count,1.314960e+05,1.314960e+05,131496.0,131496.000000,131496.000000,131496.000000,126913.000000,126832.000000,120489.000000,90799.000000,115502.000000,126890.000000,126468.000000,126902.000000,18026.000000,0.0,31409.000000,0.0
mean,-8.038000e+01,4.346000e+01,6144239.0,2017.000730,6.522723,15.730243,8.211114,3.874381,76.689582,0.162070,21.329475,14.664552,14.002833,97.766127,29.790858,NaN,-11.185838,NaN
std,9.194458e-11,3.299773e-11,0.0,4.320707,3.448773,8.800381,11.004774,10.127915,17.692844,6.685869,9.476319,9.197943,4.414896,0.723278,3.569228,NaN,6.073759,NaN
min,-8.038000e+01,4.346000e+01,6144239.0,2010.000000,1.000000,1.000000,-32.700000,-35.900000,14.000000,0.000000,1.000000,0.000000,0.000000,94.020000,25.000000,NaN,-41.000000,NaN
25%,-8.038000e+01,4.346000e+01,6144239.0,2013.000000,4.000000,8.000000,-0.200000,-3.600000,65.000000,0.000000,13.000000,8.000000,16.100000,97.330000,27.000000,NaN,-15.000000,NaN
50%,-8.038000e+01,4.346000e+01,6144239.0,2017.000000,7.000000,16.000000,8.300000,4.100000,80.000000,0.000000,23.000000,13.000000,16.100000,97.790000,29.000000,NaN,-10.000000,NaN
75%,-8.038000e+01,4.346000e+01,6144239.0,2021.000000,10.000000,23.000000,17.100000,12.400000,91.000000,0.000000,30.000000,21.000000,16.100000,98.240000,32.000000,NaN,-7.000000,NaN
max,-8.038000e+01,4.346000e+01,6144239.0,2024.000000,12.000000,31.000000,35.000000,25.200000,100.000000,610.400000,36.000000,68.000000,16.100000,100.430000,47.000000,NaN,-1.000000,NaN

In [9]:
filename = data_dir / "weather/en_climate_hourly_ON_6144239_concat"
weather_df.to_feather(filename.with_suffix('.feather'))